@page "/cartitems"
@inherits CartItemsProcess
@attribute [Authorize]

@if (CartItemDto.Count < 1)
{
    <p>There is no product on the cart</p>
    <div class="ml-auto p-2 mr-2">
        <button class="btn btn-success" @onclick="NavigateToProducts">Go products</button>
    </div>
}
else
{
    <h3>Cart Items</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Total cart price: @totalCartPrice</th>
                <th>Total cart quantity: @totalCartQuantity</th>
            </tr>
            <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Product Title</th>
                <th scope="col">Edition Title</th>
                <th scope="col">Product Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CartItemDto)
            {
                <tr>
                    <th><img src="@item.Image" class="img-thumbnail" style="max-width: 100%; height: 5rem;"></th>
                    <td>@item.ProductTitle</td>
                    <td>@item.EditionTitle</td>
                    <td>@item.Price</td>
                    <td>
                        @item.Quantity
                        <button class="btn btn-primary btn-sm" @onclick="(async () => await IncreaseQuantity(item.Id))">+</button>
                        <button class="btn btn-secondary btn-sm" @onclick="(async () => await DecreaseQuantity(item.Id))">-</button>
                    </td>
                    <td>@(item.Quantity * item.Price)</td>
                    <td><button class="btn btn-danger" @onclick="(async () => await DeleteCartItem(item.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

